sqlalchemy==1.4.47
snowflake-sqlalchemy
langchain==0.0.202
sqlalchemy-aurora-data-api
PyAthena[SQLAlchemy]==2.25.2
redshift-connector==2.0.910
sqlalchemy-redshift==0.8.14
boto3>=1.28.57
awscli>=1.29.57
botocore>=1.31.57
streamlit
python-dotenv
tabulate
pypdf==3.8.1
faiss-cpu==1.7.4
